body{
  margin:0;
  padding:0;
  background: url(bg.jpg.png) no-repeat;
  background-size: cover;
}
.box{
width:450px;
background: rgba(0,0,0,0.4);
padding:40px;
text-align: :center;
margin:auto;
margin-top: 5%;
color: white;
font-family: "Century Gothic",sans-serif;
}
.box-img{
  border-radius: 50%;
  width:200px;
  height: 200px;
}
.box h1{
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 100;
  color: greenyellow;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: left;
}
ul{
  margin:0 ;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: center;
  list-style: none;
  display:inline;
  padding: 20px 40px;
}
.box li a{
  color: pink;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: black;

}
